@import url(https://fonts.googleapis.com/css?family=Roboto:300);

header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  /*background-color: #328f8a*/
  /*background-image: linear-gradient(45deg,#328f8a,#08ac4b)*/
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.navbar{
    height: 100px;
    margin-top: -10px;
}
.navbar-brand img{
    width:320px;    
    height: 70px;
   
}
@media screen and (max-width: 480px) {
.size{
    background-color: #653f3f;
    margin-top: 30px;
   
}
.navbar1{
    background-color: #333;
}

.w-100{
    height: 50px;
}   
}
.navbar-toggler-icon{
    background-color: #333;
    
}
.w-100{
    height: 600px;
}
.navbar1{
    height: 50px ;
    z-index: 5;
    position: sticky;
    top: 0px;
    
}
.container-fluid{
    background-color: skyblue;
}
.navbar-collapse{
    justify-content: space-evenly;
    margin-left: -30px;
}
.nav-link{
    margin-left: 50px;
    color: black !important;
}
li{
    font-size: 20px;
}
/* footer.............................. */

.foot-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(92, 91, 91);
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 50px;
    color: black;
}
.footer1{
   width:  300px;
   height: 190px;
   /* background-color: #bb4c4c; */
   color: black;
   line-height: 1.5;
   border-left: 2px solid black;
}
.footer2{
    width:  300px;
   height: 190px;
   /* background-color: #bb4c4c; */
   color: rgb(146, 143, 143);
   line-height: 1.5;
   border-left: 2px solid rgb(210, 203, 203);
}
.footer3{
    width:  300px;
   height: 190px;
   /* background-color: #bb4c4c; */
   color: rgb(163, 163, 163);
   line-height: 1.5;
   border-left: 2px solid rgb(220, 209, 209);
}
.list-title{
    font-size: 40px !important;
    margin-left: -10px !important;
    margin-top: -10px;
}
.footer1 ul li{
    list-style: none;
    font-size: 15px;   
}
.footer2 ul li{
    list-style: none;
    font-size: 15px;
}
.footer3 ul li{
    list-style: none;
    font-size: 15px;
}
hr{
    background-color: black;
}
footer{
    display: block;
}
.logos{
    background-color: #653f3f;
    height: 50px;
    margin-top: 281px;
    display: flex;
    justify-content: center;
    z-index: 1s;
    flex-wrap: wrap;
    background-color: skyblue;
}
.logo1{
    width: 35px;
    height: 100%;
    /* background-color: #fff; */
    padding-top: 9px;
}
.logo2{
    width: 35px;
    height: 100%;
    /* background-color: #933b3b; */
    padding-top: 9px;
}
.logo3{
    width: 35px;
    height: 100%;
    /* background-color: #220f6e; */
    padding-top: 9px;
}
.logo1 img{
    width: 30px;
    
}
.logo2 img{
    width: 30px;
    
}
.logo3 img{
    width: 30px;
    
}
.backdesign{
    background-image: url(Indian-Flag-Art-Image\ \(1\)-safeimagekit.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;}
.navbar{
    height: 100px;
    
}
.navbar-brand img{
    width:320px;
    height: 70px;
   
}
@media screen and (max-width: 480px) {
.size{
    background-color: #653f3f;
    margin-top: 30px;
   
}
.navbar1{
    background-color: #333;
}

.w-100{
    height: 50px;
}   
}
.navbar-toggler-icon{
    background-color: #333;
    
}
.w-100{
    height: 600px;
}
.navbar1{
    height: 50px ;
    z-index: 5;
    position: sticky;
    top: 0px;
    
}
.container-fluid{
    background-color: skyblue;
}
.bg-body-tertiary{
    background-color: #333;
}
.navbar-collapse{
    justify-content: space-evenly;
    margin-left: 30px;
}
.nav-link{
    margin-left: 50px;
    
   
}

li{
    font-size: 20px;
}

/* cards------- */
.dropdown-menu{
    width: 630px;   
    border: 2px solid rgb(19, 16, 19);
    
   
   
}
.dropdown-menu li{
    float: left;
}
.card{
    margin-left: 20px;
    border: 2px solid rgb(19, 16, 19);
    box-shadow: 0px 0px 5px 0px gray;

}
.card:hover{
    scale: 1.1;
    transition: 1s;
    border: 2px solid rgb(229, 156, 0);
    box-shadow: 0px 0px 7px 0px red;
}
.btn-secondary{
    width: 1100px;
    margin-top: 20px;
    margin-left: 20px;
}
@media screen and (max-width:480px) {
    .left-content{
        display: none;
    }
    .btn-secondary{
        width: 300px;
    }
    .dropdown-menu{
        width: 340px;    
       
    }
    
}
.standards{
    margin-top: -100px;
}

.mainouterbox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*background-color: brown;*/
    margin-top: 10px;
}
/* left-area content------------------ */

.left-content{
    width: 350px;
    height: 500px;
    /* background-color: #007bff; */
    border-right: 6px solid rgb(187, 187, 187);
    border-top: 6px solid rgb(187, 187, 187);
    margin-top: 20px;
   float: left;
   padding: 10px;
   background-image: url(smarteducation.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
.big-line{
    height:540px;
    width: 5px;
    background-color: black;
    margin-top: 20px;
}


